body {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    text-decoration: none; 
}

header {
    background: linear-gradient(to bottom, #F53D2D, #FF6633);
    position: fixed; 
    top: 0;
    z-index: 9999;
    width: 100%
}

article {
    margin-top: 120px;
}

@media only screen and (max-width: 430px) {
    header {
        position: fixed; 
        top: 0;
        width: 430px;
        height: 65px;
    }

    article {
        margin-top: 70px;
    }
}

/*====================HEADER PART 1====================*/
.header-navbar-content {
    display: flex;
    justify-content: center; 
}

.header-navbar {
    font-size: 13px;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.header-navbar a:visited {
    color: white;
}

.header-navbar a:hover {
    color: #FCC6C1;
}

.header-navbar-links {
    color: white;
    display: flex; 
    align-items: center;
}

.header-navbar-links > div:not(:nth-last-child(-n+3)) {
    border-right: 2px solid #F86C5C; 
}

.header-navbar-links-items {
    padding-left: 5px;
    padding-right: 5px;
}

.header-navbar-icons {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
}

.hidden-image-grid {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
}

.header-navbar-links-items:hover .hidden-image-grid {
    display: block;
}

.hidden-image-grid img {
    max-width: 100%;
    height: auto;
}

.hidden-image-grid-1 {
    max-width: 200px;
}

.hidden-image-grid-2 {
    max-width: 180px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.header-navbar-login {
    display: flex; 
    align-items: center;
}

.header-navbar-inout {
    display: flex; 
    align-items: center;
}

.header-navbar-inout > div:not(:last-child) {
    border-right: 2px solid #F86C5C; 
}

.header-navbar-inout-items {
    padding-left: 6px;
    padding-right: 6px;
}

.header-navbar-login-items a {
    display: flex; 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-navbar-login-items a div {
    padding-left: 5px;
    padding-right: 5px;
}

.header-navbar-login-items svg {
    vertical-align: -3px;
}

.header-navbar-login-hover {
    position: relative;
    display: inline-block;
}

.header-navbar-login-hover-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    padding-top: 10px;
    z-index: 9999;
}

.header-navbar-login-hover:hover .header-navbar-login-hover-content {
    display: block;
}

.header-navbar-login-hover-content a {
    font-size: 15px;
    padding-bottom: 10px;
}

.header-navbar-login-hover-content a:hover {
    color: #EE4D2D;
}

@media only screen and (max-width: 430px) {
    .header-navbar {
        font-size: 5px;
        width: 430px;
        padding: 5px 0 5px 5px;
    }

    .header-navbar-links-items {
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .header-navbar-links > div:not(:nth-last-child(-n+3)) {
        border-right: 1px solid #F86C5C; 
    }
    
    .header-navbar-icons {
        width: 8px;
        height: 8px;
    }
    
    .header-navbar-inout > div:not(:last-child) {
        border-right: 1px solid #F86C5C; 
    }
    
    .header-navbar-inout-items {
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .header-navbar-login-items a {
        padding-left: 2px;
        padding-right: 2px;
    }

    .header-navbar-login-items svg {
        vertical-align: -3px;
        width: 8px; 
        height: 8px;
    }
}

/*====================HEADER PART 2====================*/
.header-search-content {
    display: flex;
    justify-content: center;
}

.header-search {
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 1200px; 
} 

.header-search-logo {
    margin: 0 auto;
}

.header-search-container {
    height: 30px;
    width: 100%;
}

.header-search-gird {
    color: white;
}

.header-search-bar {
    background-color: white;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 5px;
    border-radius: 2px;
}

.header-search-bar div {
    flex: 1;
    height: 30px;
    border-style: none;
}

.header-search-bar input {
    flex: 1;
    height: 30px;
    border-style: none;
    width: 100%;
}

.header-search-bar #box {
    display: none;
    position: absolute;
    z-index: 9999;
    max-width: 700px;
    width: 100%;
}

.header-search-bar #box a {
    font-size: 14px;
    color: black;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-search-bar #box a:hover {
    background-color: #f9f9f9;
}

.header-search-bar #box a div {
    padding: 10px 0 ;
}

.header-search-bar a {
    flex: 0;
    height: 35px;
    background-color: #FB5533;
    border-style: none;
    border-radius: 2px;
}

.header-search-bar a:hover {
    background-color: #FB6445;
}

.header-search-bar svg {
    width: 60px;
    vertical-align: -12px;
    height: 15px;
}

.header-shopping-cart {
    width: 300px;
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.header-search-links {
    padding-top: 10px;
}

.header-search-links a {
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-search-links a:visited {
    color: white; 
}

.header-navbar-notification {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    z-index: 9999;
}

.header-navbar-login-items:hover .header-navbar-notification {
    display: block;
}

.header-navbar-notification img {
    width: 100px;
}

.header-navbar-notification-items {
    text-align: center;
    padding-top: 80px;
}

.notification-item-login {
    display: flex;
    justify-content: space-evenly; 
}

.notification-item-login a:hover {
    color: #ED5C3F;
    background-color: #E8E8E8;
}

.notification-item-login-items {
    width: 170px;
    height: 30px;
    font-size: 15px;
    padding-top: 10px;
}

@media only screen and (max-width: 430px) {
    .header-search {
        font-size: 5px;
        padding: 5px;
        width: 430px; 
    } 
    
    .header-search-logo svg {
        width: 60px; 
        height: 30px;
        padding-right: 15px;
    }
    
    .header-search-container {
        width: 300px;
        height: 30px;
    }
    
    .header-search-bar {
        height: 10px;
        padding: 5px;
    }
    
    .header-search-bar div {
        height: 10px;
    }
    
    .header-search-bar input {
        height: 10px;
        font-size: 5px;
    }
    
    .header-search-bar .search-button {
        width: 30px;
        height: 15px;
    }
    
    .header-search-bar svg {
        width: 30px;
        height: 5px;
        vertical-align: -5px;
    }
    
    .header-shopping-cart {
        width: 50px;
        height: 10px;
    }
    
    .header-shopping-cart svg {
        width: 10px;
        height: 10px;
        vertical-align: -25px;
    }
    
    .header-search-links {
        padding-top: 5px;
    }
    
    .header-search-links a {
        padding-right: 5px;
    }
}

/*====================BODY PART 1====================*/
.body-top-sliders-content {
    padding-left: 5px;
    display: flex;
    justify-content: center;
}

.body-top-sliders {
    background-color: #FFFFFF;
    max-width: 1200px; 
    width: 100%;
}

.body-top-sliders-items {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}

.sliders-img {
    display: grid;
    gap: 5px;
    grid-template-columns: 780px 420px;
}

.sliders-img img {
    width: 420px;
    height: 400px;
    height: auto;
    border-radius: 2px;
}

.sliders-img .sliders-img-1 {
    position: relative;
    display: flex;
    overflow-x: hidden;
    grid-row: 1 / 3;
}

.sliders-img .sliders-img-1 img {
    width: 780px;
    height: 260px;
}

.sliders-img .sliders-img-2,.sliders-img-3 {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.sliders-container {
    position: relative;
}

.navigation-buttons {
    display: absolute;
}

.navigation-buttons button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none; 
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sliders-img-1:hover .navigation-buttons button {
    opacity: 1; 
}

.sliders-img-1:hover .navigation-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.sliders-img-1 .navigation-buttons button:focus {
    outline: none; 
}

#prevBtn-slider {
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    left: 0%;
    width: 30px; 
    height: 50px;
}

#nextBtn-slider {
    position: absolute;
    top: 40%;
    transform: translateY(0%);
    right: 0%;
    width: 30px; 
    height: 50px;
}

.dots-container {
    position: absolute; 
    bottom: 10px;
    left: 35%;
    transform: translateX(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.5;
}

.active {
    background-color: #EE4D2D;
    opacity: 1;
}

.sliders-icon {
    font-size: 13px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    padding-bottom: 10px;
}

.sliders-icon img {
    max-width: 100%;
    max-height: 50px;
    height: auto;
}

.sliders-icon a{
    transition: transform 0.3s ease;
}

.sliders-icon a:hover {
    transform: translateY(-5px);
}

.sliders-icon a:visited {
    color: black;
}

@media only screen and (max-width: 430px) {
    .body-top-sliders {
        max-width: 430px;
        padding-right: 5px;
    }

    .body-top-sliders-items {
        padding-top: 10px;
    }
    
    .sliders-img {
        gap: 2px;
        grid-template-columns: 280px 150px;
    }
    
    .sliders-img img {
        width: 140px;
    }

    .sliders-img .sliders-img-1 img {
        width: 280px;
        height: 86px;
    }
    
    .sliders-img-1:hover .navigation-buttons button {
        opacity: 0; 
    }
    
    .dots-container {
        bottom: 3px;
    }
    
    .dot {
        height: 5px;
        width: 5px;
        margin: 0 2px;
    }
    
    .sliders-icon {
        font-size: 4px;
        grid-template-columns: 53px 53px 53px 53px 53px 53px 53px 53px;
        padding-bottom: 5px;
    }
    
    .sliders-icon img {
        max-width: 20px;
        max-height: 20px;
    }
}

/*====================BODY PART 2====================*/
.body-middle-container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}
    
.body-middle-content {
    width: 1200px; 
}

@media only screen and (max-width: 1200px) and (min-width: 431px) {
    .body-middle-container {
        width: 1200px; 
    }
    
    .body-middle-content {
        width: 100%;
    }
}

.body-middle-categories {
    padding-left: 5px;
    padding-top: 20px;
    position: relative;
    background-color: #F5F5F5;
    font-size: 15px;
}

.body-middle-categories a:visited {
    color: black;
}

.body-middle-categories-title {
    background-color: #FFFFFF;
    color: #757575;
    font-size: 17px;
    padding: 20px;
    margin: 2px;
}

.body-middle-categories-items {
    overflow: hidden;
    margin-bottom: 2px;
}

.first-row .categories-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.second-row .categories-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.categories-item-details {
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 132px;
    height: 150px;
    padding-top: 10px;
    transition: transform 0.5s ease;
    margin-right: 2px;
}

.categories-item-details-blank {
    background-color: #FFFFFF;
    width: 132px;
    height: 150px;
}

.categories-item-details:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categories-item-details img {
    width: 83px;
    height: 88px;
}

.first-row, .second-row {
    position: relative;
}

#prevBtn-category, #nextBtn-category {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(20px);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#prevBtn-category:hover, #nextBtn-category:hover {
    transform: translateY(20px) scale(1.8); 
}

#prevBtn-category svg, #nextBtn-category svg {
    padding-top: 2px;
    width: 15px; 
    height: 15px;
}

#nextBtn-category {
    position: absolute;
    right: -15px;
}

#prevBtn-category {
    position: absolute;
    left: -15px;
}

@media only screen and (max-width: 430px) { 
    .body-middle-content {
        width: 430px; 
    }
    
    .body-middle-categories {
        padding-top: 10px;
        padding-right: 5px;
        font-size: 5px;
    }
    
    .body-middle-categories-title {
        font-size: 7px;
        padding: 10px;
        margin: 1px;
    }
    
    .body-middle-categories-items {
        margin-bottom: 1px;
    }
    
    .categories-item-details {
        width: 52px;
        height: 55px;
        padding-top: 5px;
        margin-right: 1px;
    }
    
    .categories-item-details-blank {
        width: 52px;
        height: 55px;
    }

    .categories-item-details img {
        width: 32px;
        height: 35px;
    }
    
    #prevBtn-category, #nextBtn-category {
        opacity: 0; 
    }
}

/*====================BODY PART 3====================*/
.body-middle-flashsales {
    padding-left: 5px;
    padding-top: 20px;
    position: relative;
    background-color: #F5F5F5;
    font-size: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei, Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}

.body-middle-flashsales a:visited {
    color: #F14D2D;
}

.body-middle-flashsales-icon {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.body-middle-flashsales-icon img {
    width: 140px;
    height: 25px;
    padding-right: 10px;
}

.body-middle-flashsales-top {
    display: flex;
}

.body-middle-flashsales-icon-item {
    color: #F14D2D;
    display: flex;
    justify-items: center;
    align-items: center;
}

.flashsale-countdown-timer {
    display: flex;
    justify-content: center;
}

.flashsale-countdown-timer-item {
    padding-left: 5px;
}

.body-middle-flashsales-items {
    overflow: hidden;
}

.flashsale-countdown-section {
    font-size: 15px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.body-middle-flashsales-section {
    display: flex;
    transition: transform 0.5s ease; 
}

.body-middle-flashsales-section-item {
    position: relative;
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 250px;
    padding-top: 10px;
    transition: transform 0.5s ease;
}

.body-middle-flashsales-section-item #main {
    width: 160px;
    height: 170px;
}

.body-middle-flashsales-section-item #side {
    position: absolute; 
    width: 160px;
    height: 170px;
    top: 10px; 
    right: 20px;
}

.body-middle-flashsales-section-item #text {
    font-size: 18px;
    padding: 15px;
}

.body-middle-flashsales-section-item #bottom-text {
    width: 140px;
    height: 16px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 13px; 
    left: 30px;
    z-index: 2;
}

.body-middle-flashsales-section-item #bottom-1 {
    height: 16px;
    background-color: #ED2B14;
    border-radius: 8px 0px 0px 8px; 
    position: absolute; 
    bottom: 15px; 
    left: 30px;
    z-index: 1;
}

.body-middle-flashsales-section-item #bottom-2 {
    width: 150px;
    height: 16px;
    background-color: #FFBDA6;
    border-radius: 8px;
    position: absolute; 
    bottom: 15px; 
    left: 30px;
    z-index: 0;
}

.flashsale-image-icon {
    background-color: #FFE97A;
    color: #F14D2D;
    position: absolute; 
    top: 10px; 
    right: 20px;
}

.flashsale-image-icon-item {
    display: flex; 
    align-items: center;
    padding-right: 5px;
}

#prevBtn-flashsale, #nextBtn-flashsale {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(20px);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#prevBtn-flashsale:hover, #nextBtn-flashsale:hover {
    transform: translateY(20px) scale(1.8); 
}

#prevBtn-flashsale svg, #nextBtn-flashsale svg {
    padding-top: 2px;
    width: 15px; 
    height: 15px;
}

#nextBtn-flashsale {
    position: absolute;
    right: -15px;
}

#prevBtn-flashsale {
    position: absolute;
    left: -15px;
}

@media only screen and (max-width: 430px) {
    .body-middle-flashsales {
        display: none;
    }
}

/*====================BODY PART 4====================*/
.body-middle-advertisement {
    padding-left: 5px;
    padding-top: 20px;
}

.body-middle-advertisement img {
    width: 1200px;
}

@media only screen and (max-width: 430px) {
    .body-middle-advertisement {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
    }
    
    .body-middle-advertisement img {
        width: 420px;
    }
}

/*====================BODY PART 5====================*/
.body-middle-malls {
    padding-left: 5px;
    padding-top: 20px;
    position: relative;
    background-color: #F5F5F5;
    font-size: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei, Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}

.body-middle-malls a {
    color: #D0011B;
}

.body-middle-malls a:visited {
    color: #D0011B;
}

.body-middle-malls-top {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.body-middle-malls-top {
    display: flex;
}

.body-middle-malls-top-item {
    display: flex;
    align-items: center;
}

.body-middle-malls-top-item #icon-1 {
    font-size: 17px;
    border-right: 1px solid #DFDFDF; 
}

.body-middle-malls-top-item #icon-2 {
    font-size: 16px;
}

.body-middle-malls-top-item #icon-1, #icon-2 {
    padding-right: 10px;
}

.body-middle-malls-top-item img {
    width: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.body-middle-malls-top-item #icon-3 {
    width: 15px;
    background-color: #D0011B;
    border-radius: 50%;
    text-align: center;
}

.body-middle-malls-top-item #icon-3 svg {
    width: 10px;
}

.body-middle-malls-content {
    display: flex;
}

.body-middle-malls-content-slider {
    background-color: #FFFFFF;
    display: flex;
    width: 380px;
    height: 452px;
}

.body-middle-malls-content-slider img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 442px;
}

.malls-content-navigation-buttons {
    display: absolute;
}

.malls-content-navigation-buttons button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none; 
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.body-middle-malls-content-slider:hover .malls-content-navigation-buttons button {
    opacity: 1; 
}

.body-middle-malls-content-slider:hover .malls-content-navigation-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.body-middle-malls-content-slider .malls-content-navigation-buttons button:focus {
    outline: none; 
}

#malls-content-prevBtn-slider {
    position: absolute;
    top: 55%;
    transform: translateY(0%);
    left: 10px;
    width: 30px; 
    height: 50px;
}

#malls-content-nextBtn-slider {
    position: absolute;
    top: 55%;
    transform: translateY(0%);
    left: 340px;
    width: 30px; 
    height: 50px;
}

.malls-content-dots-container {
    position: absolute; 
    bottom: 10px;
    left: 15%;
    transform: translateX(-50%);
}

.body-middle-malls-content-categories {
    overflow: hidden;
}

.malls-first-row .malls-categories-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.malls-second-row .malls-categories-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.malls-categories-item-details {
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    min-width: 190px;
    min-height: 216px;
    transition: transform 0.5s ease;
    padding: 5px;
}

.malls-categories-item-details img {
    width: 160px;
    height: 190px;
}

.malls-categories-item-details div {
    position: relative;
    font-size: 18px;
    bottom: 25px;
}

.malls-first-row, .malls-second-row {
    position: relative;
}

#malls-prevBtn-category, #malls-nextBtn-category {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(20px);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#malls-prevBtn-category:hover, #malls-nextBtn-category:hover {
    transform: translateY(20px) scale(1.8); 
}

#malls-prevBtn-category svg, #malls-nextBtn-category svg {
    padding-top: 2px;
    width: 15px; 
    height: 15px;
}

#malls-nextBtn-category {
    position: absolute;
    right: -15px;
}

#malls-prevBtn-category {
    position: absolute;
    left: 355px;
}

.categories-all {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.categories-all #categories-all-icon {
    width: 20px;
    background-color: #D0011B;
    border-radius: 50%;
}

.categories-all #categories-all-icon svg {
    width: 10px;
}

@media only screen and (max-width: 430px) {
    .body-middle-malls {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        font-size: 5px;
    }

    .body-middle-malls-content {
        height: 165px;
    }
    
    .body-middle-malls-top {
        padding: 10px;
        margin-bottom: 1px;
    }

    .body-middle-malls-top-item #icon-1 {
        font-size: 7px;
        border-right: 1px solid #DFDFDF; 
    }
    
    .body-middle-malls-top-item #icon-2 {
        font-size: 6px;
    }
    
    .body-middle-malls-top-item #icon-1, #icon-2 {
        padding-right: 5px;
    }
    
    .body-middle-malls-top-item img {
        width: 8px;
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .body-middle-malls-top-item #icon-3 {
        width: 7px;
    }
    
    .body-middle-malls-top-item #icon-3 svg {
        vertical-align: -1px;
        width: 5px;
    }

    .body-middle-malls-content-slider {
        width: 140px;
        height: 165px;
    }
    
    .body-middle-malls-content-slider img {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        width: 130px;
        height: 160px;
    }
    
    .body-middle-malls-content-slider:hover .malls-content-navigation-buttons button {
        display: none;
    }
    
    .malls-content-dots-container {
        bottom: 5px;
        transform: translateX(-40%);
    }
    
    .malls-categories-item-details {
        min-width: 60px;
        min-height: 72.5px;
    }
    
    .malls-categories-item-details img {
        width: 45px;
        height: 65px;
    }
    
    .malls-categories-item-details div {
        font-size: 6px;
        bottom: 10px;
    }
    
    #malls-prevBtn-category, #malls-nextBtn-category {
        display: none;
    }
}

/*====================BODY PART 6====================*/
.body-middle-hotsearch {
    padding-left: 5px;
    padding-top: 10px;
    position: relative;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei, Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}

.body-middle-hotsearch-top {
    background-color: #FFFFFF;
    color: #F14D2D;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.body-middle-hotsearch-top a:visited {
    color: #F14D2D;
}

.body-middle-hotsearch-top-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

#hotsearch-top-item-1 {
    font-size: 16px;
}

#hotsearch-top-item-2 {
    font-size: 14px;
}

.body-middle-hotsearch-content {
    background-color: #FFFFFF;
    display: flex;
    overflow: hidden;
}

.body-middle-hotsearch-content-item {
    position: relative;
    padding: 20px 10px;
    width: 180px;
}

.body-middle-hotsearch-section {
    display: flex;
}

#hotsearch-content-item-1 {
    position: absolute;
    width: 30px;
    height: 40px;

}

#hotsearch-content-item-2 {
    width: 180px;
    height: 180px;
}

#hotsearch-content-item-3 {
    display: flex;
    position: absolute;
    bottom: 70px;
    background-color: rgba(0, 0, 0, .26);
    color: #FFFFFF;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 25px;
}

#hotsearch-content-item-4 {
    width: 180px;
    color: #555;
}

#hotsearch-prevBtn, #hotsearch-nextBtn {
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(20px);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

#hotsearch-prevBtn:hover, #hotsearch-nextBtn:hover {
    transform: translateY(20px) scale(1.8); 
}

#hotsearch-prevBtn svg, #hotsearch-nextBtn svg {
    padding-top: 2px;
    width: 15px; 
    height: 15px;
}

#hotsearch-nextBtn {
    position: absolute;
    right: -15px;
}

#hotsearch-prevBtn {
    position: absolute;
    left: -15px;
}

/*====================BODY PART 7====================*/
.body-middle-suggestion {
    padding-left: 5px;
    padding-top: 30px;
    position: relative;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei, Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}

.body-middle-suggestion-top {
    background-color: #FFFFFF;
    color: #F14D2D;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    border-bottom: 4px solid #F14D2D;
    margin-bottom: 2px;
}

.body-middle-suggestion-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding-top: 10px;
}

.body-middle-suggestion-content-items {
    position: relative;
    width: 190px;
    height: 310px;
    background-color: #FFFFFF;
}

.body-middle-suggestion-content-items #suggestion-discount {
    position: absolute; 
    top: 0; 
    right: 0;
    background-color: #FFE97A;
    color: #F14D2D;
    font-size: 14px;
    padding: 2px;
    z-index: 1;
}

.body-middle-suggestion-content-items #suggestion-main {
    width: 190px;
    height: 200px;
}

.body-middle-suggestion-content-items #suggestion-side {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 176px;
    height: 176px;
}

.body-middle-suggestion-content-items #suggestion-top {
    position: absolute;
    top: 10px;
    left: -3px;
    width: 30px;
    height: 20px;
}

.body-middle-suggestion-content-items #suggestion-bonus {
    width: 80px;
    height: 20px;
    padding: 5px;
}

.body-middle-suggestion-content-items #suggestion-text {
    font-size: 14px;
    width: 180px;
    height: 29px;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.body-middle-suggestion-content-items #suggestion-prize {
    color: #EE4D2D;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    left: 10px;
}

.body-middle-suggestion-content-items #suggestion-sold {
    color: #757575;
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
}

.body-middle-suggestion-bottom {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.body-middle-suggestion-bottom button {
    width: 400px;
    height: 40px;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
}

.body-middle-suggestion-bottom button:hover {
    background-color: #F0F0F0;
}

/*====================BODY PART 8====================*/
.body-bottom-container {
    padding-left: 5px;
    border-top: 4px solid #F14D2D;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #F0F0F0;
}

.body-bottom {
    background-color: #FFFFFF;
    font-size: 12px;
    width: 1200px;
}

@media only screen and (max-width: 1200px) and (min-width: 431px) {
    .body-bottom-container {
        width: 1200px;
    }
}

.body-bottom-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-bottom-content-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-bottom-content-item div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-bottom-content-item li:not(:last-child) {
    padding-bottom: 10px;
}

#headline-text {
    font-size: 14px;
    font-weight: bold;
}

#underline-text {
    font-weight: bold;
    text-decoration: underline;
}

.body-bottom-content-item a {
    text-decoration: underline; 
}

.body-bottom-content-item a:visited {
    color: black;
}

.body-bottom-line {
    padding-bottom: 50px;
    border-bottom: 2px solid #F0F0F0;
}

.body-bottom-categories {
    padding-top: 50px;
    color: #757575;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 50px;
}

.body-bottom-categories-container a {
    font-weight: normal;
    font-size: 12px;
}

.body-bottom-categories-container a:visited {
    color: #757575;
}

.body-bottom-categories-container a:hover {
    color: #EE4D2D;
}

#body-bottom-title {
    color: #757575;
    padding-bottom: 5px;
}

.body-bottom-categories-container {

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.body-bottom-categories-item {
    padding-right: 10px;
}

.body-bottom-categories-item-details {
    padding-top: 5px;
    padding-bottom: 5px;
}

.body-bottom-categories-item-details div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#categories-item-title {
    font-weight: bold;
}

.body-bottom-categories-item-details a {
    display: inline-block;
}

.bottom-container {
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bottom-content {
    padding-left: 5px;
    color: black;
    padding-top: 30px;
    font-size: 12px;
    width: 1200px;
}

@media only screen and (max-width: 1200px) and (min-width: 431px) {
    .bottom-container {
        width: 1200px;
    }
}

#item-detail-follow {
    display: flex;
    align-items: center;
    height: 15px;
}

#item-detail-follow img {
    padding-right: 10px;
}

.categories-item-payment {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.categories-item-payment img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categories-item-details-grid-container {
    display: grid;
    grid-template-columns: 88px 76px;
    gap: 10px;
}

.categories-item-details-grid-container img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#details-grid-item {
    grid-row: 1 / 4;
}

.body-bottom-copyright {
    padding-top: 20px;
    font-size: 14px;
    color: #8A9099;
}

.body-bottom-copyright-item {
    display: flex;
}

.body-bottom-copyright-item a:hover {
    color: #F04D2D;
}

.body-bottom-copyright-item a:visited {
    color: #8A9099;
}

/*====================FOOTER====================*/
.footer {
    background-color: #F5F5F5;
    color: #707070;
    text-align: center;
    padding: 40px;
}

@media only screen and (max-width: 1200px) and (min-width: 431px) {
    .footer {
        width: 1120px;
    }
}

.footer a:visited {
    color: #707070;
}

.footer-links {
    padding-bottom: 30px;
    display: flex; 
    justify-content: center;
}

.footer-links > div {
    flex: 0 0 auto;
}

.footer-links > div:not(:last-child) {
    border-right: 2px solid #DFDFDF; 
}

.footer-links-items {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-links a {
    text-decoration: none; 
}

.footer-images {
    justify-content: center;
    align-items: center;
}

.footer-images-items {
    margin: 0; 
    padding: 0; 
}

.footer-texts {
    padding-bottom: 5px;
    color: #565656;
}

.footer-texts .text {
    padding-bottom: 20px;
}